<app-home></app-home>
<h5>Diário {{ title }}</h5>

<div class="row">
  <div class="col s8">
    <table>
      <thead>
      <tr>
        <th>Titulo</th>
        <th>Descrição</th>
        <th>Data</th>
        <th>Fotos</th>
        <th>Ações</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
        <td>$0.87</td>
        <td>Editar</td>
      </tr>
      <tr>
        <td>Alan</td>
        <td>Jellybean</td>
        <td>$3.76</td>
        <td>$0.87</td>
        <td>Editar</td>
      </tr>
      <tr>
        <td>Jonathan</td>
        <td>Lollipop</td>
        <td>$7.00</td>
        <td>$0.87</td>
        <td>Editar</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col s4">
    <form [formGroup]="formulario">
      <div class="input-field col s12">
        <div class="select-wrapper">
          <select id="empresa" formControlName="empresa" class="icons">
            <option *ngFor="let empresa of empresas" [value]="empresa.id">{{ empresa.nome }}</option>
          </select>
        </div>
        <label>Empresa</label>
      </div>
      <div class="input-field col s12">
        <div class="select-wrapper">
          <select class="icons" id="empreiteira" formControlName="empreiteira">
            <option *ngFor="let empreiteira of empreiteiras" [value]="empreiteira.id">{{ empreiteira.nome }}</option>
          </select>
        </div>
        <label>Empreiteira</label>
      </div>
      <div class="input-field col s12">
        <div class="select-wrapper">
          <select class="icons" id="obra" formControlName="obra">
            <option *ngFor="let obra of obras" [value]="obra.id">{{ obra.nome }}</option>
          </select>
        </div>
        <label>Local de vistoria</label>
      </div>
    </form>

  </div>
</div>
