<h5>Login</h5>

<form #f="ngForm" (ngSubmit)="onSubmit(f)">
<div class="row">
  <div class="input-field col s5">
    <input id="identifier" type="text" class="validate" name="identifier" [(ngModel)]="login.identifier">
    <label class="active" for="identifier">Username</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s5">
    <input id="password" type="password" class="validate" name="password" [(ngModel)]="login.password">
    <label class="active" for="password">Password</label>
  </div>
</div>
  <div class="row">
    <div class="input-field col s5">
      <button type="submit">Login</button>
    </div>
  </div>
</form>


<div class="row">
  {{message}}
</div>
