<div class="col s6">
  <form [formGroup]="formulario">
    <div class="input-field col s12">
      <div class="select-wrapper">
        <select id="empresa" formControlName="empresa" class="icons">
          <option *ngFor="let empresa of empresas" [value]="empresa.id">{{ empresa.nome }}</option>
        </select>
      </div>
      <label>Empresa</label>
    </div>
    <div class="input-field col s12">
      <div class="select-wrapper">
        <select class="icons" id="empreiteira" formControlName="empreiteira">
          <option *ngFor="let empreiteira of empreiteiras" [value]="empreiteira.id">{{ empreiteira.nome }}</option>
        </select>
      </div>
      <label>Empreiteira</label>
    </div>
    <div class="input-field col s12">
      <div class="select-wrapper">
        <select class="icons" id="obra" formControlName="obra">
          <option *ngFor="let obra of obras" [value]="obra.id">{{ obra.nome }}</option>
        </select>
      </div>
      <label>Obra</label>
    </div>
  </form>

</div>
