<nav>
  <div class="nav-wrapper teal">
    <a href="#" class="brand-logo"><i class="material-icons">cloud</i>Geoflow Backoffice</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/attendence-maps" routerLinkActive="active">Acompanhamento - Mapa</a></li>
      <li><a routerLink="/attendence-list" routerLinkActive="active">Acompanhamento Listagem</a></li>
      <li><a routerLink="/empresa" routerLinkActive="active">Gestão de Cadastros</a></li>
      <li><a routerLink="/report" routerLinkActive="active">Relatórios</a></li>
      <li><a routerLink="/help" routerLinkActive="active">Ajuda</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a href="">Cadastro</a></li>
    </ul>
  </div>
</nav>
