<h5>{{ title }}</h5>

<div class="row">
  <div class="col s8">

  <!-- this creates a google map on the page with the given lat/lng from -->
  <!-- the component as the initial center of the map: -->
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker
      *ngFor="let m of obras; let i = index"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable">
      <agm-info-window>
        <div class="row">
          <div class="col s12">
            <strong>{{m.titulo}}</strong>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            {{m.endereco}}
          </div>
        </div>
      </agm-info-window>
    </agm-marker>
  </agm-map>
  </div>
  <div class="col s4">
    <form [formGroup]="formulario">
      <div class="input-field col s12">
        <div class="select-wrapper">
          <select id="empresa" formControlName="empresa" class="icons">
            <option *ngFor="let empresa of empresas" [value]="empresa.id">{{ empresa.nome }}</option>
          </select>
        </div>
        <label>Empresa</label>
      </div>
      <div class="input-field col s12">
        <div class="select-wrapper">
          <select class="icons" id="empreiteira" formControlName="empreiteira">
            <option *ngFor="let empreiteira of empreiteiras" [value]="empreiteira.id">{{ empreiteira.nome }}</option>
          </select>
        </div>
        <label>Empreiteira</label>
      </div>
      <div class="input-field col s12">
        <div class="select-wrapper">
          <select class="icons" id="obra" formControlName="obra">
            <option *ngFor="let obra of obras" [value]="obra.id">{{ obra.nome }}</option>
          </select>
        </div>
        <label>Local de vistoria</label>
      </div>
    </form>

  </div>
</div>
