<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s2"><a class="teal-text" routerLink="/empresa" routerLinkActive="active">Empresas</a></li>
      <li class="tab col s2"><a class="teal-text" routerLink="/empreiteira" routerLinkActive="active">Empreiteira</a></li>
      <li class="tab col s2"><a class="teal-text" routerLink="/vistoria" routerLinkActive="active">Localidade de vistoria</a></li>
    </ul>
  </div>
</div>
